#fight {
  font-family: Arial, Helvetica, sans-serif;
  background-color: purple;
  color: white;
  height: 325px;
  width: 50%;
  text-align: center;
  div {
    margin-top: 80px;
  }
  button {
    margin: 5px;
  }
}